.page-layout {
    padding: px;
    margin: 5px auto;
    max-width: 1500px;
    min-height: 250px;
    box-sizing: border-box;
    color: rgb(58, 120, 175);
    background: linear-gradient(135deg, #d8eba5, #fa8bf1);
    /* Alternative gradient: linear-gradient(135deg, #a5ebb8, #a78bfa) */
    /* Reverse gradient on hover */
    overflow: hidden;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(128, 125, 125, 0.5);
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition: all 0.3s ease;
    cursor: pointer;
}
  
  .page-title {
    font-size: 2rem;
    font-weight: bold;
    margin-bottom: 15px;
  }
  
  .sub-title {
    font-size: 1.5rem;
    margin-top: 10px;
  }
  
  .about-list {
    list-style: none;
    padding: 0;
  }
  
  .about-list li {
    font-size: 1.2rem;
    margin: 5px 0;
  }
  