.model{
    display: flex;
    align-items: center;
    box-sizing: content-box;  
    flex-direction: column;
    justify-content: center;
    position: fixed;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 1000px;
    padding: 1px;
    border-radius: 10px;  
    font-size: 8px;
    color: #000;  
    background-color: rgb(238, 206, 159);
    opacity: 0.8;
    background: linear-gradient(135deg, #a5ebb8, #a78bfa); /* Purple gradient background */
    overflow: hidden;
  }
  body:hover {
    background: linear-gradient(135deg, #a78bfa, #a5ebb8); /* Reverse gradient on hover */
  }
  
  .model-text{
    text-align: left;
    font-size: 14px;
  }
  .model-image{
    position: left top;
  }
  .mass{
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 5px;
    color: #000;
   counter-increment: inherit;

  }
  