.restfirst{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 200vh;
    background-color: #f1f1f1;
    width: 70%;
    height: 600px;
    align-items: center;
    border-radius: 10px;
    padding-bottom: 20px;
    
    margin: auto;
    margin-top: 50px;
    padding: 20px;

}
.restfirst img{
    margin: 0px 30px;
    align-items: center;
    scroll-padding-block-end: 20px;
    letter-spacing: 20px;
    width: 500px;
    height: 500px;

}


